apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: dynamic-applications
  namespace: argocd
spec:
  generators:
  - git:
      repoURL: https://github.com/your-org/your-argocd-manifests-repo.git
      revision: HEAD
      directories:
      - path: '*'             
      - path: 'application-sets'
        exclude: true   
  template:
    metadata:
      name: '{{path.basename}}-app' 
      labels:
        app.kubernetes.io/managed-by: feather
    spec:
      project: default
      source:
        repoURL: '{{repoURL}}'         
        targetRevision: '{{revision}}'  
        path: '{{path}}/manifest.yaml'   
      destination:
        server: https://kubernetes.default.svc 
        namespace: '{{path.basename}}' 
      syncPolicy:
        automated:
          prune: true   
          selfHeal: true 
        syncOptions:
        - CreateNamespace=true