apk add --no-cache git {{.JDK}} {{.Builder}} docker-cli &&
git clone {{.URL}}.git app &&
cd app &&
./gradlew build &&
echo "$DOCKER_TOKEN" | docker login -u $DOCKER_USER --password-stdin &&
docker build -t {{.DockerRepo}}/{{.ImageName}}:{{.Tag}} . &&
docker push {{.DockerRepo}}/{{.ImageName}}:{{.Tag}}